html {
  scroll-behavior:inherit;
  background-color: #333;
}

/*--------------------- Navbar.css */

.iconotranslation{
  font-size: 30px
}
.language-selector {
  position: absolute;
  top: 10px; /* Ajusta según tu diseño */
  right: 10px;
}

.language-selector button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.language-selector .dropdown-menu {
  color: black;
  position: absolute;
  display: flex;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  /* padding: 10px; */
  margin: 0;
  /* width: 100px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.language-selector .dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.language-selector .dropdown-menu li:hover {
  background-color: #f0f0f0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  cursor: pointer;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ff6347;
}

/* Estilos para el icono */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger i {
  font-size: 30px; 
  color: white;
}

/*--------------------- Info.css */
.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px 0 100px;
  gap: 30px;
}


.info-left {
  flex: 1; /* Ocupa el 50% del espacio disponible */
}

.info-image {
  width: 100%; 
  height: auto;
  max-width: 500px; 
  border-radius: 8px;
}

.info-right {
  flex: 1; /* Ocupa el 50% del espacio disponible */
}

.info-right h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.info-right p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}


/*--------------------- Hero.css */

.titulo{
  font-size: 40px;
}

.hero-section {
  position: relative;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px; 
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/pasaje-dardo-rocha.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Ajusta la opacidad de la imagen de fondo */
  z-index: -1; /* Asegura que el pseudo-elemento quede detrás del contenido */
}


.hero-content {
  max-width: 800px; /* Limitar el ancho para evitar que el texto se estire demasiado */
  padding: 20px;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #ff3b3f;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d32f2f;
  color:#333
}

/* --------------------- SPONSORS */

.sponsorsimg{
  width: 100vh;
}

.carousel-container{
  justify-self: center;
}

/* .carousel-container {
  width: 100%;
  overflow: hidden;
  margin: 50px 0;
  padding: 20px 0;
} */

.sponsors{
  margin: 100px 20px 20px;
  text-align: center;
  font-size: 30px;
  text-decoration: underline #d32f2f 3px;
}

@media (max-width: 768px){
  .sponsors{
    margin:30px 10px 10px;
  }
  .sponsorsimg{
    width: 70vh;
  }
}
/* .carousel {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
}
 */

/* .carousel-item {
  min-width: 150px; 
  max-width: 200px;
  flex-shrink: 0;
} */

/* .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
} */

/* Animación para el carrusel sponsors */
/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Desplaza solo la mitad porque duplicamos las imágenes 
  }
} */

/* Para detener la animación al pasar el mouse */
/* .carousel-container:hover .carousel {
  animation-play-state: paused;
} */

/* -----------------css galeria*/
.gallery-container {
  margin: 100px 0;
  text-align: center;
}

.gallery-title {
  font-size: 30px;
  text-decoration: underline #d32f2f 3px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin: 20px auto;
  justify-items: center;
}

.gallery-item {
  cursor: pointer;
  width: 150px;
  height: 180px;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  position: relative;
}

.modal-content img,
.modal-content video {
  width: 50%;
  height: auto;
}

.modal-img{
    max-width: 90%; /* Máximo 90% del ancho de la ventana */
    max-height: 90%; /* Máximo 90% de la altura de la ventana */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción */
  }

.modal-content{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: auto; /* Permite desplazar la imagen */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #d32f2f;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.close-btn:hover {
  background: #a30000;
}

/* ----------------location*/


/* ----------------location*/
.location-section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.location-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 2rem;
}

.map {
  flex: 1;
  min-width: 300px;
  height: 300px;
}

.map iframe, .map .leaflet-container {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.location-info {
  flex: 1;
  min-width: 300px;
}

.location-section h2 {
  margin-bottom: 1rem;
  text-decoration: underline #d32f2f 3px;  
  font-size: 30px;
}

.location-info p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Diseño para dispositivos móviles */
@media (max-width: 768px) {
  .location-container {
    flex-direction: column-reverse; /* Cambia el orden a columna invertida */
  }
  .location-section{
    margin-top: 0px;
    padding: 0 50px 50px;
  }

  .location-info h2{
    justify-self: center;
  }
}











/* Media Query hero section */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 3.5rem; 
  }

  .hero-content p {
    font-size: 1.2rem; 
  }

  .hero-buttons {
    flex-direction: column; /* Los botones se alinean verticalmente */
    gap: 15px;
  }

  .btn {
    padding: 10px 20px; /* Reducir tamaño de los botones */
    margin:10px
  }
}

@media (max-width: 448px) {
  .btn {
    display: block;
  }
}

/* Media query info */
@media (max-width: 1170px) {
  .info-section {
    flex-direction: column; /* Cambia la disposición a columna */
    padding: 20px;
  }

  .info-left, .info-right {
    flex: none; /* La imagen y el texto ocupan el 100% */
    width: 100%;
    text-align: center; /* Centra el texto */
  }
}


/* Media query navbar */
@media (max-width: 940px) {
  nav ul {
    display: none; /* Esconde el menú */
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  nav ul.active {
    display: flex; /* Muestra el menú cuando está activo */
  }

  nav ul li {
    margin: 15px 0;
  }

  .hamburger {
    display: flex; /* Muestra el botón hamburguesa */
  }

  .logo-div.hidden {
    display: none;
}
}
